@tailwind base;
@tailwind components;
@tailwind utilities;


.next {
    background: radial-gradient(39.56% 48.29% at 20% 115.78%, #FF1675 0%, rgba(255, 22, 121, 0) 100%), radial-gradient(54.23% 74.52% at 69.72% -10.08%, #FF1675 0%, rgba(255, 22, 121, 0) 100%), radial-gradient(21.67% 31.7% at 39.72% 107.79%, rgba(74, 51, 209, 0.8) 0%, rgba(74, 51, 209, 0) 100%), radial-gradient(40.08% 51.33% at 85.83% 24.14%, rgba(74, 51, 209, 0.8) 0%, rgba(74, 51, 209, 0) 100%), #242145;
    ;
}

.prev {
    background: rgba(19, 15, 37, 0.5);
    ;
}


.product {
    background-image: url(../public/images/products-halftone-white.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 60%;
}

.solution {
    background-blend-mode: overlay;
    background-color: #2A2754 !important;
    background-image: url(../public/images/solution-bg-3.png);
    background-repeat: no-repeat;
    background-position: left -30px;
    background-size: contain;
}

.main-banner {
    background: linear-gradient(104.04deg, #FF1675 0%, #FF7B01 100%);
    border-radius: 16px;
}

.cloud-guru {
    background-image: url(../public/images/cloud-guru-culture.webp);
    background-position: -59px 0px;
    background-size: 115%;
    background-repeat: no-repeat;
}

.future {
    background-image: url(../public/images/BG-Freeform-darkblue-solution.webp);
    background-position: right bottom;
    background-repeat: no-repeat;
    border-bottom: none;
    background-size: 72%;
}